{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<!-- transform: scale(1.05); -->

<body>
    <link rel="stylesheet" href="{{ url_for('static',filename='cards.css') }}">
<div>
    {% if username %}
    <h1 style="color: rgb(203, 37, 37); padding-top:5px" id="username">Welcome, {{ username }}!</h1>
{% endif %}
</div>
    <div class="main">
        <div class="cookieCard">
            <p class="cookieHeading">CGPA CALCULATOR</p>
            <p class="cookieDescription">Calculate your GPA by entering your Grades .
                <br>
                <br>
                Note :- This CGPA calculator is for BCA course only and U cannot Calculate other courses GPA
            </p>
            <a href="{{ url_for('main.calculator') }}">
            <button class="acceptButton" >Go To Calculator</button>
            </a>
        </div>


        <div class="cookieCard">
            <p class="cookieHeading">COURSES</p>
            <p class="cookieDescription">Take the Most popular courses by clicking below
                <br>
                <br>
                Note :- The all courses are free and available on Youtube . U did not have to pay anything for any course
            </p> <a href="{{ url_for('main.courses') }}">
                <button class="acceptButton">Checkout the Courses</button>
            </a>
        </div>


        <div class="cookieCard">
            <p class="cookieHeading">MODEL PAPERS</p>
            <p class="cookieDescription">U can see previous year question papers and model papers here
                <br>
                <br>
                Note :- The model papers are just for refrence and the questions in previous have chance to repeat
            </p>
            <a href="{{ url_for('main.modelpaper') }}">
            <button class="acceptButton">Explore Papers</button>
            </a>
        </div>

      
    </div>

</body> 
</html>

{% endblock %}